---
layout: base
permalink: /
title: Kaleido Family Festival
banner:
  - /assets/img/banner.jpg
---

{% comment %}
<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}


<div class="row">

  {% comment %}
  <div class="column">
    <ul class="small-block-grid-2 large-block-grid-3">
      <li><a href="https://www.dropbox.com/s/q2aw21abxf75lvf/kaleido-program-2013-web.pdf" target="_blank"><img src="{{ site.uploads }}home-program.jpg" alt="What's on! Download the 2013 program."></a></li>
      <li><a href="/location/"><img src="{{ site.uploads }}home-parking.jpg" alt="Parking & Transit. How to get here!"></a></li>
      <li><a href="/donate/"><img src="{{ site.uploads }}home-donate.jpg" alt="Support the festival. Donate now!"></a></li>
      <li><img src="{{ site.uploads }}home-dodos.jpg" alt="Friday Night: The Dodos. Friday Sept 13"></li>
      <li><img src="{{ site.uploads }}home-lantern.jpg" alt="Aurora Lantern Parade. Friday Sept 13"></li>
      <li><img src="{{ site.uploads }}home-shumka.jpg" alt="Ukranian Shumka Dancers. Saturday Sept 14"></li>
      <li><img src="{{ site.uploads }}home-namori.jpg" alt="Namori. Saturday Sept 14"></li>
      <li><img src="{{ site.uploads }}home-shad.jpg" alt="Hip hop artist Shad! Saturday Sept 14"></li>
      <li><img src="{{ site.uploads }}home-vibetribe.jpg" alt="Vibe Tribe Gypsy Circus. Saturday Sept 14"></li>
      <li><img src="{{ site.uploads }}home-goodthief.jpg" alt="Theatre: The Good Thief. Friday Sept 13 & Saturday Sept 14"></li>
      <li><img src="{{ site.uploads }}home-havana.jpg" alt="Havana D'Primera. Saturday Sept 14"></li>
      <li><img src="{{ site.uploads }}home-trollsons.jpg" alt="The Trollsons. Saturday Sept 14"></li>
    </ul>
    <h1>2014 Festival information coming soon!</h1>
  </div>
  {% endcomment %}


  <div class="large-8 columns l-break">
    <div class="row">
      <div class="column">

        <h1>We're celebrating a radical 10 years of Kaleido Hoopla!</h1>

        <p>Kaleido Family Arts Festival is a joyous, exuberant, radically open arts festival that shares the love of the Alberta Avenue Arts District (92 St & 118 Ave). Kaleido welcomes arts & cultural experiences with multi-arts collaborative performances such as music, dance, theatre, film, literary and visual arts with performances on rooftops, sides of buildings, back alleys, parks and found spaces. Artists are everywhere in an extravagance of creative exploration, imagination, and play. All ages welcome, admission free. ENDLESS POSSIBILITIES REIGN AT KALEIDO!</p>

        <ul class="large-block-grid-2">
          <li>
            <a href="/volunteer/">
              <article class="jump">
                <img class="jump-image" src="{{ site.uploads }}jump-volunteer.jpg" alt="">
                <div class="jump-text">
                  <h1 class="jump-title">Volunteer</h1>
                  <p class="jump-lead">Sign up to help out!</p>
                </div>
              </article>
            </a>
          </li>
          <li>
            <a href="/apply/">
              <article class="jump">
                <img class="jump-image" src="{{ site.uploads }}jump-apply.jpg" alt="">
                <div class="jump-text">
                  <h1 class="jump-title">Apply Here</h1>
                  <p class="jump-lead">Food vendors, artists, performers</p>
                </div>
              </article>
            </a>
          </li>
        </ul>

        <h2>Arts on the Ave presents Kaleido</h2>

        <div class="flex-video youtube widescreen">
          <iframe width="770" height="433" src="https://www.youtube.com/embed/6gB8D_q3DVE" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="large-4 columns">
    <ul class="small-block-grid-2 large-block-grid-1">
      {% comment %}<li><a href="/news/#join-in-on-the-action" title="11.2MB PDF"><img src="{{ site.uploads }}callforartists.png" alt=""></a></li>{% endcomment %}
      <li><a href="/donate/"><img src="{{ site.uploads }}10years.jpg" alt=""></a></li>
      <li><a href="/info/"><img src="{{ site.uploads }}faq.jpg" alt=""></a></li>
      <li><a href="/location/"><img src="{{ site.uploads }}gethere.jpg" alt=""></a></li>
      <li>{% include side_download.md %}</li>
    </ul>
  </div>

</div>
