.timetable {
	width: 100%;

  tr > td {
    color: $secondary-color;
  }
  tr:nth-child(2n) > td {
    color: $primary-color;
  }

  td > small {
    display: block;
    font-size: 80%;
  }
}

.timetable-hour {
  width: 90px;
}

.timetable-length {
  white-space: nowrap;
  font-size: 80%;
  &:before {
    content: "{";
  }
  &:after {
    content: "}";
  }
}
