<section>
  <p class="title" data-section-title><a href="#sunday">Sunday</a></p>
  <div class="content" data-section-content data-slug="sunday">

    <section class="stage">
      <h1 class="beta"><span class="ordinal">1</span> AVENUE CENTRAL STAGE <small>9210 – 118 AVENUE | 12:00 – 6:00 pm</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm</td> <td>FUZZFLY</td></tr>
              <tr><td>1:00 pm</td> <td>Ron and Demaris Moon Walker</td></tr>
              <tr><td>1:15 pm</td> <td>Viva Dance</td></tr>
              <tr><td>1:30 pm</td> <td>Cheremosh Ukrainian Dance</td></tr>
              <tr><td>1:45 pm</td> <td>Apocalypse Kow</td></tr>
              <tr><td>2:15 pm</td> <td>Infinity Hoop Dance</td></tr>
              <tr><td>2:30 pm</td> <td>Delhi 2 Dublin Workshop Songwriting: Combining Cultures</td></tr>
              <tr><td>3:15 pm</td> <td>Martin Kerr</td></tr>
              <tr><td>3:30 pm</td> <td>Awards Ceremony</td></tr>
              <tr><td>3:45 pm</td> <td>FUZZFLY</td></tr>
              <tr><td>4:45 pm</td> <td>Penguins Green</td></tr>
              <tr><td>5:00 pm</td> <td>Ji Hong Wushu & Tai Chi College</td></tr>
              <tr><td>5:15 pm</td> <td>Kalabanté Acrobatics</td></tr>
              <tr><td>5:30 pm</td> <td>Csardas & Cifra</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">

        </div>
      </div>
    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">2</span> THE CARROT COMMUNITY ARTS COFFEEHOUSE <small>9351 – 118 AVENUE</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm</td> <td>Terry Morrison</td></tr>
              <tr><td>1:00 pm</td> <td>Lana Lenore</td></tr>
              <tr><td>2:00 pm</td> <td>The Awesome Hots</td></tr>
              <tr><td>3:00 pm</td> <td>Jan & Jim Baker</td></tr>
              <tr><td>4:00 pm</td> <td>Casper Hollands</td></tr>
              <tr><td>5:00 pm</td> <td>Bardic Form</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-we.jpg" alt="Williams Engineering Canada"></p>
        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">3</span> DON'S GRAND PIANO GALLERY STAGE <small>9225 – 118 AVENUE Stollery Gallery</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm</td> <td>Connie Collingwood, A.R.C.T.</td></tr>
              <tr><td>1:00 pm</td> <td>Eric Schneider</td></tr>
              <tr><td>2:00 pm</td> <td>Charlie Austin</td></tr>
              <tr><td>3:00 pm</td> <td>Connie Collingwood, A.R.C.T.</td></tr>
              <tr><td>4:00 pm</td> <td>Charlie Austin</td></tr>
              <tr><td>5:00 pm</td> <td>Duo J & J</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-donspiano.png" alt="Don's Piano Showroom"> <img src="{{ site.uploads }}logo-nina.jpg" alt="Nina Haggerty Centre for the Arts"></p>
        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">4</span> BEDOUIN BEATS CARAVAN STAGE <small>11805 – 94 STREET | 12:00 – 6:00 pm</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm - 6:00 pm</td> <td>DANCING & SHOPPING ALL DAY!</td></tr>
              <tr><td colspan="2">Experience sensational world beat dance with groups from across Alberta. Enjoy dance from many cultures, and of many types, fire, poi and hoop dances. Performers include Three Eyes Tribal, Luna Dance Fusion, Les Trois Femmes and Anya, Nomadic Tapestry, Tatiana, and the official debut of Belediyya.</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-bedouinbeats.jpg" alt="Bedouin Beats"></p>
        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">5</span> Ben’s Sound Garden <small>11725 – 93 Street | St. Faith’s Church (Behind Nina Haggerty Centre)</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">1:00 pm</td> <td>Ancient Jammers</td></tr>
              <tr><td>2:15 pm</td> <td>Dead Red Pine</td></tr>
              <tr><td>3:45 pm</td> <td>Josephine van Lier</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">

        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">6</span> ARTS HUB 118 BACK BALCONY <small>11731 – 93 STREET</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">1:30 pm</td> <td>Bardic Form</td></tr>
              <tr><td>3:00 pm</td> <td>Kokopelli</td></tr>
              <tr><td>4:15 pm</td> <td>White Cats</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-renaissance.png" alt="Renaissance Edmonton Airport Hotel"></p>
        </div>
      </div>
    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">7</span> ReFresh Crosswalk <small>93 Street & 118 Avenue</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:30 pm</td> <td>Edmonton Musical Theatre</td></tr>
              <tr><td>12:45 pm</td> <td>Air Orchestra</td></tr>
              <tr><td>1:00 pm</td> <td>Kalabanté Acrobatics & Music</td></tr>
              <tr><td>2:00 pm</td> <td>Street Urchins on the Ave</td></tr>
              <tr><td>2:15 pm</td> <td>Air Orchestra</td></tr>
              <tr><td>2:30 pm</td> <td>Apocalypse Kow</td></tr>
              <tr><td>3:00 pm</td> <td>Tubsteppers</td></tr>
              <tr><td>4:45 pm</td> <td>Tubsteppers</td></tr>
              <tr><td>5:45 pm</td> <td>Street Urchins on the Ave</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">

        </div>
      </div>
    </section>

  </div>
</section>
