<section>
  <p class="title" data-section-title><a href="#friday">Friday</a></p>
  <div class="content" data-section-content data-slug="friday">

    <div class="row">
      <div class="columns large-8">

        <section class="stage" itemscope itemtype="http://schema.org/Event">
          <h1 class="beta"><span itemprop="performer">Trevor Hall</span> <small><time datetime="2014-09-12T22:15:00-06:00" itemprop="startDate">10:15 pm</time> | <span itemprop="location">9210 – 118 Avenue <br>630 CHED Avenue Central Stage</span></small></h1>
          <p><strong itemprop="name">Friday Night Kick-Off Concert</strong></p>
          <p itemprop="description">International Recording Artist Trevor Hall has had early accomplishments in his career, like having a song recorded on the Shrek the Third soundtrack, as well as joining a series of sold-out tours with artists such as Steel Pulse, The Wailers, Jimmy Cliff, Matisyahu, Michael Franti, SOJA, Brett Dennen and Colbie Callait.</p>
          <p>His journeys to India and the Far East have inspired him to develop a writing and performing style that offer hope in a new world. <a href="http://trevorhallmusic.com">trevorhallmusic.com</a></p>
        </section>

        <article>
          <h1 class="beta">Kaleido Patio Party <small>9210 – 118 Avenue</small></h1>
          <ul>
            <li>Street beer gardens 8:00 pm – 10:00 pm</li>
            <li>Street Party featuring from Vancouver, The Boom Booms</li>
            <li>Dance, Dance, Dance!</li>
          </ul>
        </article>

        <article>
          <h1 class="beta">Roving Magic! <small>Roving 118 Avenue</small></h1>
          <ul>
            <li>Sheldon Casavant has entertained across Canada, the U.S., Mexico, Panama, China and he has performed over 600 shows in Japan! Get ready to experience the magic! <a href="http://sheldoncasavant.com">http://sheldoncasavant.com</a></li>
          </ul>
        </article>

        <article>
          <h1 class="beta">Nina Haggerty Centre For The Arts <small>9225 – 118 Avenue</small></h1>
          <ul>
            <li>Visual Arts Gallery, enjoy Don's Grand Piano music with Wendy Jensen</li>
            <li>Lantern Making Workshop</li>
          </ul>
        </article>

        <article>
          <h1 class="beta">St. Faith's Gallery <small>11725 – 93 Street</small></h1>
          <p>The Parish Church of St. Faith's and St. Stephen the Martyr</p>
          <ul>
            <li>Lute music with Thomas Mead, hammered dulcimer with Sean Holowaty</li>
            <li>Visual arts gallery and music</li>
          </ul>
        </article>

        <article>
          <h1 class="beta">The Carrot Community Arts Coffeehouse <small>9351 – 118 Avenue</small></h1>
          <ul>
            <li>Visual Arts Gallery and Music</li>
            <li>Dale Ladouceur, Chapman Stick and Keri Lynn Zwicker, harp</li>
          </ul>
        </article>

        <article>
          <h1 class="beta">THE STUDIO Alley Stage <small>11739 – 94 Street (Behind THE STUDIO)</small></h1>
          <ul>
            <li>Independent Visual Arts Gallery</li>
            <li>Surf's Up! Rock and Roll with The Tsunami Brothers</li>
          </ul>
        </article>

        <article>
          <h1 class="beta">LOOK UP! Artshub 118 Back Balcony <small>11731 – 93 Street (Back alley, back balcony)</small></h1>
          <ul>
            <li>8:00 pm El Gran Mariachi (the real thing!)</li>
            <li>9:00 pm Urban Soundscape Motonogo</li>
          </ul>
        </article>

        <article>
          <h1 class="beta">Bedouin Beats Caravan Stage <small>11805 – 94 Street</small></h1>
          <p>Bedouin Beats All-Star Bellydance Jam</p>
          <ul>
            <li>Shimmy and Shake with fabulous Eastern music and dance. Fire dancers light up the night just before the Lantern Parade!</li>
          </ul>
        </article>


      </div>
      <div class="columns large-4">
        <ul class="small-block-grid-2 large-block-grid-1">
          <li><img src="{{ site.uploads }}trevor-hall.png" alt=""> <span class="caption">Trevor Hall</span></li>
          {% comment %}<li><img src="{{ site.uploads }}friday-lanternparade.jpg" alt=""> <span class="caption">Aurora Lantern Parade</span></li>
          <li><img src="{{ site.uploads }}friday-dodos.jpg" alt=""> <span class="caption">Friday night headliners: The Dodos</span></li>
          <li><img src="{{ site.uploads }}friday-movie.jpg" alt=""> <span class="caption">Giant Family Movie Night</span></li>{% endcomment %}
        </ul>
      </div>
    </div>

  </div>
</section>
