<section class="stage" id="stage-1">
  <h1 class="beta"><span class="ordinal">1</span> AVENUE CENTRAL STAGE <small>9210 – 118 Ave</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">10:00 pm</td> <td>ZERBIN</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">10:00 am</td> <td>Vocal Trash / Pancake Breakfast</td></tr>
      <tr><td>12:00 pm</td> <td>Vinok Worldance</td></tr>
      <tr><td>12:45 pm</td> <td>Angela Gladue</td></tr>
      <tr><td>1:00 pm</td> <td>Opening Ceremony</td></tr>
      <tr><td>1:30 pm</td> <td>Cite Ballet</td></tr>
      <tr><td>3:00 pm</td> <td>Xiao Hai Ou Dance Group</td></tr>
      <tr><td>3:30 pm</td> <td>Toy Guns Dance Theatre</td></tr>
      <tr><td>4:00 pm</td> <td>Fly Girlz</td></tr>
      <tr><td>4:30 pm</td> <td>MY Ukranian Dance Academy</td></tr>
      <tr><td>5:30 pm</td> <td>Sole Rhythm by Jenna Werhun and her band</td></tr>
      <tr><td>7:00 pm</td> <td>Captain Tractor</td></tr>
      <tr><td>8:00 pm</td> <td>The Tequila Mockingbird Orchestra</td></tr>
      <tr><td>9:00 pm</td> <td>Kalabanté</td></tr>
      <tr><td>10:00 pm</td> <td>Hollerado</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">10:30 am</td> <td>Eric Dozier Gospel Brunch</td></tr>
      <tr><td>12:00 pm</td> <td>Csardas Hungarian Dance Ensemble</td></tr>
      <tr><td>1:00 pm</td> <td>Elite Dance Studio</td></tr>
      <tr><td>1:30 pm</td> <td>Apocalypse Kow</td></tr>
      <tr><td>3:00 pm</td> <td>Ji Hong Wushu & Tai Chi College</td></tr>
      <tr><td>3:30 pm</td> <td>Arts Award Ceremony</td></tr>
      <tr><td>3:35 pm</td> <td>Sangea</td></tr>
      <tr><td>5:00 pm</td> <td>Asham Stompers</td></tr>
    </tbody>
  </table>

  <p>Fool Spectrum theatre is an aspiring non-profit, local theatre production company. We use clown as our medium to connect to the world.
  Be sure to check out our E-Town Clown Cabaret season as well as follow us on Facebook and Twitter to hear what we are up to.</p>

  <p>Theatre Clowns: Morgan Nadeau, Bill Yong, Julie Ferguson. Volunteer Clowns: Colin Mulholland, Heather Jordan, Kristyn Emmerzael, Mazi Javidani, John Marian, Julie Kiraly, Karen Thomas, Tessa Simpson</p>

  <p><em>Artist biographies for Avenue Central Stage artists can be found on pages 22–26 of the Festival Guide.</em></p>
  <p><em>Artist biographies for all other venues/stages will be posted up for viewing at the venue.</em></p>

</section>

<section class="stage" id="stage-2">
  <h1 class="beta"><span class="ordinal">2</span> THE CARROT COMMUNITY ARTS COFFEEHOUSE <small>9351 – 118 Ave</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">8:00 pm</td> <td>Karla Adolphe</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Sebastian Barrera</td></tr>
      <tr><td>1:00 pm</td> <td>Lindsey Walker</td></tr>
      <tr><td>2:00 pm</td> <td>Brother Octopus</td></tr>
      <tr><td>3:00 pm</td> <td>Erin Kay</td></tr>
      <tr><td>4:00 pm</td> <td>Mohsin Zaman</td></tr>
      <tr><td>5:00 pm</td> <td>Ken Stead</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Kayla Hotte</td></tr>
      <tr><td>1:00 pm</td> <td>The BPM Trio</td></tr>
      <tr><td>2:00 pm</td> <td>Dr Blu</td></tr>
      <tr><td>3:00 pm</td> <td>Jenie Thai</td></tr>
      <tr><td>4:00 pm</td> <td>Justine Vandergrift</td></tr>
      <tr><td>5:00 pm</td> <td>Rebecca Lappa</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-4">
  <h1 class="beta"><span class="ordinal">4</span> STUDIO ALLEY <small>11739 – 94 St</small></h1>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Benjamin Williams</td></tr>
      <tr><td>1:00 pm</td> <td>Kayla Dawn Patrick</td></tr>
      <tr><td>2:00 pm</td> <td>David Unsworth</td></tr>
      <tr><td>3:00 pm</td> <td>Paul Woida</td></tr>
      <tr><td>4:00 pm</td> <td>TBA</td></tr>
      <tr><td>5:00 pm</td> <td>Steven Sware</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Benjamin Williams</td></tr>
      <tr><td>1:00 pm</td> <td>Megan Keirstead</td></tr>
      <tr><td>2:00 pm</td> <td>Justine Vandergrift</td></tr>
      <tr><td>3:00 pm</td> <td>Amanda Franklin</td></tr>
      <tr><td>4:00 pm</td> <td>Ella Coyes</td></tr>
      <tr><td>5:00 pm</td> <td>Paul Woida</td></tr>
    </tbody>
  </table>

</section>


<section class="stage" id="stage-5">
  <h1 class="beta"><span class="ordinal">5</span> THE SALON STAGE <small>Alley between 93 St & 94 St</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">8:00 pm</td> <td>El Grand Mariachi</td></tr>
      <tr><td>9:00 pm</td> <td>El Duende</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>O'Neills</td></tr>
      <tr><td class="timetable-hour">1:00 pm</td> <td>Somalia’s Got Talent Winner</td></tr>
      <tr><td>2:00 pm</td> <td>Allie Catz Jazz</td></tr>
      <tr><td>3:00 pm</td> <td>Josephine Van Lier</td></tr>
      <tr><td>4:00 pm</td> <td>Dr Blu</td></tr>
      <tr><td>5:00 pm</td> <td>Apocalypse Kow</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Billie Zizi & Bramwell Park</td></tr>
      <tr><td>1:00 pm</td> <td>David Unsworth</td></tr>
      <tr><td>2:00 pm</td> <td>CKUA Ukulele Choir</td></tr>
      <tr><td>3:00 pm</td> <td>Somalia’s Got Talent Winner</td></tr>
      <tr><td>3:30 pm</td> <td>Apocalypse Kow</td></tr>
      <tr><td>4:00 pm</td> <td>Laura Bachynski</td></tr>
      <tr><td>5:30 pm</td> <td>Dr Blu</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-7">
  <h1 class="beta"><span class="ordinal">7</span> NINA BACK ALLEY STAGE <small>11731 – 93 St</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">9:00 pm</td> <td>Ganges Delta</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Ritchie Trombone Choir</td></tr>
      <tr><td>12:30 pm</td> <td>Tall Tales & the Tinkerbox</td></tr>
      <tr><td>1:30 pm</td> <td>Ritchie Trombone Choir</td></tr>
      <tr><td>3:00 pm</td> <td>Martin Kerr, Karla Adolphe, Christine Hanson workshop</td></tr>
      <tr><td>4:00 pm</td> <td>Lucitania Lights</td></tr>
      <tr><td>5:00 pm</td> <td>Jack Forestier</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">1:00 pm</td> <td>Democrafunk</td></tr>
      <tr><td>3:00 pm</td> <td>Tsunami Brothers</td></tr>
      <tr><td>4:35 pm</td> <td>Martin Kerr</td></tr>
      <tr><td>5:30 pm</td> <td>Edmonton Tuba Ensemble</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-8">
  <h1 class="beta"><span class="ordinal">8</span> ST. FAITH'S ANGLICAN CHURCH <small>11725 – 93 St</small></h1>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">1:30 pm</td> <td>The Skips</td></tr>
      <tr><td>3:00 pm</td> <td>Razzle’s Magical Adventure</td></tr>
      <tr><td>4:15 pm</td> <td>The Skips</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-9">
  <h1 class="beta"><span class="ordinal">9</span> DON’S GRAND PIANO <small>9225 – 118 Ave</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">8:00 pm</td> <td>Wendy Jensen</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Helve Sastok</td></tr>
      <tr><td>1:00 pm</td> <td>Jan Janovsky</td></tr>
      <tr><td>2:00 pm</td> <td>Helve Sastok</td></tr>
      <tr><td>3:00 pm</td> <td>Tyson Kerr</td></tr>
      <tr><td>4:00 pm</td> <td>Bryan LeGrow</td></tr>
      <tr><td>5:00 pm</td> <td>Tyson Kerr</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Jan Janovsky</td></tr>
      <tr><td>1:00 pm</td> <td>Wendy Jensen</td></tr>
      <tr><td>2:00 pm</td> <td>Jan Janovsky</td></tr>
      <tr><td>3:00 pm</td> <td>Connie Collingwood</td></tr>
      <tr><td>4:00 pm</td> <td>Wendy Jensen</td></tr>
      <tr><td>5:00 pm</td> <td>Connie Collingwood</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-11">
  <h1 class="beta"><span class="ordinal">11</span> CULTURAL STAGE <small>Arts Common Grassy Space | 91 St & 118 Ave</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">8:00 pm</td> <td>Songs From the Ave: A campfire sing-a-long</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Yoga with Alison Irwin and Christine Hanson on Cello</td></tr>
      <tr><td>2:00 pm</td> <td>Fung Loy Kok Taoist Tai Chi</td></tr>
      <tr><td>3:00 pm</td> <td>Vic Dance X-treme</td></tr>
      <tr><td>3:30 pm</td> <td>Sole Music Tap Dancers with Jenna Werhun</td></tr>
      <tr><td>4:00 pm</td> <td>Madi Allen</td></tr>
      <tr><td>5:00 pm</td> <td>Takwakin Village Showcase</td></tr>
      <tr><td>6:00 pm</td> <td>Heather Leong from the Music Lover’s Guzheng Society</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Samba Caliente</td></tr>
      <tr><td>12:30 pm</td> <td>Edmonton & District Square Dance Association</td></tr>
      <tr><td>2:00 pm</td> <td>Swing Dance Lesson from Hit that Jive Productions</td></tr>
      <tr><td>3:00 pm</td> <td>Billie Zizi Band</td></tr>
      <tr><td>5:00 pm</td> <td>Sangea</td></tr>
    </tbody>
  </table>

</section>


<section class="stage" id="stage-12">
  <h1 class="beta"><span class="ordinal">12</span> RHYTHM SPEAKS HIP HOP STAGE <small>118 Ave at 90 St</small></h1>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Introducing DJ Nick Kim</td></tr>
      <tr><td>1:00 pm</td> <td>DJ Dice, Resident Hip Hop DJ</td></tr>
      <tr><td>2:00 pm</td> <td>Popping, locking, and flow arts workshop with the Flowbot</td></tr>
      <tr><td>3:00 pm</td> <td>MC Critter Grom and MC Workshop</td></tr>
      <tr><td>4:00 pm</td> <td>FlyFree Parkour Demo & Workshop</td></tr>
      <tr><td>5:00 pm</td> <td>Fly Girlz Hip Hop Performance, DJ Dice, Turntable Exhibition Workshop</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">1:00 pm</td> <td>Locution Revolution</td></tr>
      <tr><td>1:25 pm</td> <td>Jaide</td></tr>
      <tr><td>1:50 pm</td> <td>Liberators</td></tr>
      <tr><td>2:15 pm</td> <td>ColiCon</td></tr>
      <tr><td>2:40 pm</td> <td>Tzadeka</td></tr>
      <tr><td>3:00 pm</td> <td>Cipher Wild Showcase</td></tr>
      <tr><td>3:45 pm</td> <td>Dominikingz</td></tr>
      <tr><td>4:10 pm</td> <td>Touch</td></tr>
      <tr><td>4:35 pm</td> <td>Doobyis</td></tr>
      <tr><td>5:00 pm</td> <td>Brothers Grim</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-14">
  <h1 class="beta"><span class="ordinal">14</span> PARAISO BALCONY <small>9136 – 118 Ave</small></h1>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">3:45 pm</td> <td>Apocalypse Kow</td></tr>
      <tr><td>4:45 pm</td> <td>Apocalypse Kow</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">2:45 pm</td> <td>Edmonton Tuba Ensemble</td></tr>
      <tr><td>4:45 pm</td> <td>Edmonton Tuba Ensemble</td></tr>
    </tbody>
  </table>

</section>

<section class="stage" id="stage-15">
  <h1 class="beta"><span class="ordinal">15</span> REFRESH CROSSWALK <small>93 St & 118 Ave</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">8:00 pm</td> <td>Vocal Trash</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Edmonton Mennonite Choir</td></tr>
      <tr><td>1:00 pm</td> <td>Music is a Weapon</td></tr>
      <tr><td>3:00 pm</td> <td>Kalabanté</td></tr>
      <tr><td>4:00 pm</td> <td>Sangea</td></tr>
      <tr><td>4:30 pm</td> <td>Fly Girlz</td></tr>
      <tr><td>5:00 pm</td> <td>The Tequila Mockingbird Orchestra</td></tr>
      <tr><td>7:00 pm</td> <td>Kalabanté</td></tr>
      <tr><td>7:30 pm</td> <td>Sangea</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:00 pm</td> <td>Apocalypse Kow</td></tr>
      <tr><td>1:00 pm</td> <td>Tsunami Brothers</td></tr>
      <tr><td>1:30 pm</td> <td>Gerald St. Maur, Liam Coady, and Jerry Ozipko</td></tr>
      <tr><td>3:00 pm</td> <td>Asham Stompers</td></tr>
      <tr><td>5:00 pm</td> <td>Souljah Fyah</td></tr>
    </tbody>
  </table>

</section>
<section class="stage" id="stage-16">
  <h1 class="beta"><span class="ordinal">16</span> THEATRE <small>Alberta Avenue Community League | 9210 – 118 Ave</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>
      <tr><td class="timetable-hour">11:15 pm</td> <td>The Eleven O’Clock Number!</td></tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>
      <tr><td class="timetable-hour">12:15 pm</td> <td>Epic?! The Journey</td></tr>
      <tr><td>2:30 pm</td> <td>Project: Whooping Crane</td></tr>
      <tr><td>4:30 pm</td> <td>Exploring the Impossible</td></tr>
      <tr><td>6:00 pm</td> <td>Poetry Slam!</td></tr>
      <tr><td>11:15 pm</td> <td>The Eleven O’Clock Number!</td></tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr><td class="timetable-hour">12:15 pm</td> <td>Epic?! The Journey</td></tr>
      <tr><td>2:15 pm</td> <td>Exploring the Impossible</td></tr>
      <tr><td>4:30 pm</td> <td>Project: Whooping Crane</td></tr>
    </tbody>
  </table>
</section>

<section class="stage">
  <h1 class="beta">Theatre: ON THE MOVE <small>(Various Locations)</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr>
        <td class="timetable-hour">8:00 pm & 9:15 pm</td>
        <td>Eavesdrop: The Coffee Shop show <small>Imaan East African Restaurant (9411–118 Ave)</small></td>
      </tr>
    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr>
        <td class="timetable-hour">2:00 pm 6:00 pm</td>
        <td>Eavesdrop: The Coffee Shop show <small>Imaan East African Restaurant (9411–118 Ave)</small></td>
      </tr>
      <tr>
        <td class="timetable-hour">1:30 pm 3:30 pm 5:30 pm</td>
        <td>Mrs Kowalchuck’s Mystical Walking Tour - a roving puppet show <small>Meet at the corner of 92 Street & 118 Ave</small></td>
      </tr>
      <tr>
        <td class="timetable-hour">12:30 pm 2:30 pm 4:30 pm</td>
        <td>Thou Art Here Theatre presents The Mechanicals - a roving
adaptation of William Shakespeare’s A Midsummer’s
Night’s Dream. <small>Meet at the corner of 92 Street & 118 Ave</small></td>
      </tr>
    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>
      <tr>
        <td class="timetable-hour">1:00 pm 4:00 pm</td>
        <td>Eavesdrop: The Coffee Shop show <small>Imaan East African Restaurant (9411–118 Ave)</small></td>
      </tr>
      <tr>
        <td class="timetable-hour">1:30 pm 3:30 pm 5:15 pm</td>
        <td>Mrs Kowalchuck’s Mystical Walking Tour - a roving puppet show <small>Meet at the corner of 92 Street & 118 Ave</small></td>
      </tr>
      <tr>
        <td class="timetable-hour">12:30 pm  2:30 pm 4:30 pm</td>
        <td>Thou Art Here Theatre presents The Mechanicals - a roving
adaptation of William Shakespeare’s A Midsummer’s
Night’s Dream. <small>Meet at the corner of 92 Street & 118 Ave</small></td>
      </tr>
    </tbody>
  </table>

  <p>Theatre descriptions can be found on pages 28–30 of the Festival Guide.</p>

</section>

<section class="stage" id="stage-19">
  <h1 class="beta"><span class="ordinal">19</span> BEDOUIN BEATS CARAVAN STAGE <small>11805 – 94 St</small></h1>

  <table class="timetable timetable-stacked">
    <tbody>
      <tr>
        <td>Friday</td>
        <td>Friday night, this stage kicks off with a bang (and possibly glitter explosions) for Glitz and Glam:
Vegas, Baby! where some of the best bellydancers in Edmonton and beyond will dazzle you with
their most glamourous performances! From about 8pm-10pm, come and vote in our audience
choice awards. And don't miss Samba Edmonton closing the stage and leading into the parade!</td>
      </tr>
      <tr>
        <td>Saturday & Sunday</td>
        <td>The fun continues Saturday and Sunday with a full schedule of bellydance performances from
about 12pm-6pm each day featuring dancers from across Alberta. Think you know bellydance?
Let us treat you to what you may not know with a myriad of traditional and modern styles! Sit
back, relax, and enjoy the shimmy.</td>
      </tr>
    </tbody>
  </table>

</section>

{% comment %}
<section class="stage" id="stage-1">
  <h1 class="beta"><span class="ordinal">1</span> AVENUE CENTRAL STAGE <small>9210 – 118 AVENUE</small></h1>

  <h2>Friday</h2>
  <table class="timetable timetable-friday">
    <tbody>

    </tbody>
  </table>

  <h2>Saturday</h2>
  <table class="timetable timetable-saturday">
    <tbody>

    </tbody>
  </table>

  <h2>Sunday</h2>
  <table class="timetable timetable-sunday">
    <tbody>

    </tbody>
  </table>

</section>

{% endcomment %}
