<section>
  <p class="title" data-section-title><a href="#saturday">Saturday</a></p>
  <div class="content" data-section-content data-slug="saturday">

    <section class="stage">
      <h1 class="beta"><span class="ordinal">1</span> AVENUE CENTRAL STAGE <small>9210 – 118 AVENUE</small></h1>

      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">10:00 am</td> <td>Tasman Jude</td></tr>
              <tr><td>10:45 am</td> <td>Rebel Thunder</td></tr>
              <tr><td>11:00 am</td> <td>Ron and Demaris Moon Walker</td></tr>
              <tr><td>11:15 am</td> <td>Tilo Paiz Trio with Latin Legacy Dance Group</td></tr>
              <tr><td>12:00 pm</td> <td>Billie Zizi and Cam Neufeld</td></tr>
              <tr><td>12:30 pm</td> <td>Brazilian Cultural Showcase</td></tr>
              <tr><td>1:00 pm</td> <td>United to End Poverty</td></tr>
              <tr><td>1:15 pm</td> <td>Asani</td></tr>
              <tr><td>1:45 pm</td> <td>Citie Ballet</td></tr>
              <tr><td>2:00 pm</td> <td>Polish Folk Arts Ensemble</td></tr>
              <tr><td>2:15 pm</td> <td>Xiao Hai Ou Dance Group</td></tr>
              <tr><td>2:30 pm</td> <td>Celtic Ceilidh Dance</td></tr>
              <tr><td>2:50 pm</td> <td>Physiojunction</td></tr>
              <tr><td>3:05 pm</td> <td>EDSS Theme Song: Uniquely Me</td></tr>
              <tr><td>3:15 pm</td> <td>Ella Coyes</td></tr>
              <tr><td>3:30 pm</td> <td>Apocalypse Kow</td></tr>
              <tr><td>3:45 pm</td> <td>Chipay Iskwew Singers</td></tr>
              <tr><td>4:00 pm</td> <td>Flowscience Hooping</td></tr>
              <tr><td>4:15 pm</td> <td>Asham Stompers</td></tr>
              <tr><td>5:15 pm</td> <td>Passburg</td></tr>
              <tr><td>5:45 pm</td> <td>Wil Campa y Su Gran Union</td></tr>
              <tr><td>6:45 pm</td> <td>Booming Tree</td></tr>
              <tr><td>7:15 pm</td> <td>Jeremiah McDade</td></tr>
              <tr><td>8:00 pm</td> <td>Bardic Form</td></tr>
              <tr><td>8:30 pm</td> <td>Kalabanté</td></tr>
              <tr><td>9:15 pm</td> <td>Fable Entertainment - Fire Dance</td></tr>
              <tr><td>9:45 pm</td> <td>Delhi 2 Dublin</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-630ched.jpg" alt="630 CHED"></p>
          <ul class="small-block-grid-4 large-block-grid-2">
            {% comment %}<li><img src="{{ site.uploads }}artist-vibe-tribe.jpg" alt=""> <span class="caption">Vibe Tribe Gypsy Circus</span></li>
            <li><img src="{{ site.uploads }}artist-sugar-swing.jpg" alt=""> <span class="caption">Sugar Swing Dance Club</span></li>
            <li><img src="{{ site.uploads }}artist-namori.jpg" alt=""> <span class="caption">Namori</span></li>
            <li><img src="{{ site.uploads }}artist-shad.jpg" alt=""> <span class="caption">Shad</span></li>{% endcomment %}
          </ul>
          <ul class="small-block-grid-2 large-block-grid-1">
            <li><img src="{{ site.uploads }}acs-pancake-breakfast.jpg" alt=""></li>
          </ul>
        </div>
      </div>

    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">2</span> THE CARROT COMMUNITY ARTS COFFEEHOUSE <small>9351 – 118 AVENUE</small></h1>

      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm</td> <td>Karla Adolphe</td></tr>
              <tr><td>1:00 pm</td> <td>Sebastian Barrera</td></tr>
              <tr><td>2:00 pm</td> <td>Rebecca Lappa</td></tr>
              <tr><td>3:00 pm</td> <td>Ken Stead</td></tr>
              <tr><td>4:00 pm</td> <td>I Am Machi</td></tr>
              <tr><td>5:00 pm</td> <td>Colin Close</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-we.jpg" alt="Williams Engineering Canada"></p>
        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">3</span> DON'S GRAND PIANO GALLERY STAGE <small>9225 – 118 AVENUE Stollery Gallery</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm</td> <td>Edrihan Levesque</td></tr>
              <tr><td>1:00 pm</td> <td>Brian Legrow</td></tr>
              <tr><td>2:00 pm</td> <td>Eric Schneider</td></tr>
              <tr><td>3:00 pm</td> <td>Wendy Jensen</td></tr>
              <tr><td>4:00 pm</td> <td>Bryan Legrow</td></tr>
              <tr><td>5:00 pm</td> <td>Stephanie Urquhart</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-donspiano.png" alt="Don's Piano Showroom"> <img src="{{ site.uploads }}logo-nina.jpg" alt="Nina Haggerty Centre for the Arts"></p>
        </div>
      </div>

    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">4</span> BEDOUIN BEATS CARAVAN STAGE <small>11805 – 94 STREET | 12:00 – 6:00 pm</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm - 6:00 pm</td> <td>DANCING & SHOPPING ALL DAY!</td></tr>
              <tr><td colspan="2">Experience sensational world beat dance with groups from across Alberta. Enjoy dance from many cultures, and of many types, fire, poi and hoop dances. Performers include Three Eyes Tribal, Luna Dance Fusion, Les Trois Femmes and Anya, Nomadic Tapestry, Tatiana, and the official debut of Belediyya.</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-bedouinbeats.jpg" alt="Bedouin Beats"></p>
        </div>
      </div>
    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">5</span> Ben's Sound Garden <small>11725 – 93 Street | St. Faith's Church (Behind Nina Haggerty Centre)</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">1:00 pm</td> <td>Ancient Jammers</td></tr>
              <tr><td>2:15 pm</td> <td>Dead Red Pine</td></tr>
              <tr><td>3:45 pm</td> <td>C-Jam Big Band <small>*Performance runs 2hrs 15mins</small></td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">

        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">6</span> ARTS HUB 118 BACK BALCONY <small>11731 – 93 STREET</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:15 pm</td> <td>Allie Catz Jazz Upbeat Jazz</td></tr>
              <tr><td>1:30 pm</td> <td>Apocalypse Kow Lively a cappella</td></tr>
              <tr><td>2:15 pm</td> <td>Motonogo Sonic Experience</td></tr>
              <tr><td>3:30 pm</td> <td>Tsunami Brothers Surf's Up!</td></tr>
              <tr><td>4:45 pm</td> <td>Noisy Colours Indie Rock</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-renaissance.png" alt="Renaissance Edmonton Airport Hotel"></p>
        </div>
      </div>
    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">7</span> ReFresh Crosswalk <small>93 Street & 118 Avenue</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:10 pm</td> <td>Bard of the Ave</td></tr>
              <tr><td>12:30 pm</td> <td>Heart Surprise</td></tr>
              <tr><td>12:35 pm</td> <td>CRIPSiE Dance</td></tr>
              <tr><td>12:45 pm</td> <td>Air Orchestra</td></tr>
              <tr><td>1:00 pm</td> <td>Kalabanté Acrobatics & Music</td></tr>
              <tr><td>2:00 pm</td> <td>Heart Surprise</td></tr>
              <tr><td>2:05 pm</td> <td>CRIPSiE Dance</td></tr>
              <tr><td>2:15 pm</td> <td>Air Orchestra</td></tr>
              <tr><td>3:00 pm</td> <td>Democrafunk</td></tr>
              <tr><td>4:15 pm</td> <td>Heart Surprise</td></tr>
              <tr><td>4:20 pm</td> <td>Apocalypse Kow</td></tr>
              <tr><td>4:45 pm</td> <td>Tasman Jude</td></tr>
              <tr><td>5:45 pm</td> <td>Heart Surprise</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-925fresh.png" alt="The New 92.5 Fresh FM"></p>
        </div>
      </div>
    </section>

  </div>
</section>
