<section>
  <p class="title" data-section-title><a href="#saturday">Saturday</a></p>
  <div class="content" data-section-content data-slug="saturday">

    <section class="stage">
      <h1 class="beta"><span class="ordinal">1</span> AVENUE CENTRAL STAGE <small>9210 – 118 AVENUE</small></h1>

      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">10:00 am</td> <td>Tasman Jude <time class="timetable-length">45 Mins</time></td></tr>
              <tr><td>10:45 am</td> <td>Rebel Thunder <time class="timetable-length">10 Mins</time></td></tr>
              <tr><td>11:00 am</td> <td>Ron and Demaris Moon Walker <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>11:15 am</td> <td>Tilo Paiz Trio <time class="timetable-length">45 Mins</time></td></tr>
              <tr><td>12:00 pm</td> <td>TBA <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>12:30 pm</td> <td>Brazilian Cultural Showcase <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>1:00 pm</td> <td>Rally to End Poverty <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>1:15 pm</td> <td>Asani <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>1:45 pm</td> <td>Citie Ballet <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>2:00 pm</td> <td>Polonez Polish Dance <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>2:15 pm</td> <td>Xiao Hai Ou Dance Group <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>2:30 pm</td> <td>Celtic Ceilidh Dance <time class="timetable-length">20 Mins</time></td></tr>
              <tr><td>2:50 pm</td> <td>Physiojunction Dance <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>3:05 pm</td> <td>EDSS Theme Song: Uniquely Me <time class="timetable-length">5 Mins</time></td></tr>
              <tr><td>3:15 pm</td> <td>Ella Coyes <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>3:30 pm</td> <td>Apocalypse Kow <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>3:45 pm</td> <td>Chipay Iskwew Singers <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>4:00 pm</td> <td>Flowscience Hooping <time class="timetable-length">15 Mins</time></td></tr>
              <tr><td>4:15 pm</td> <td>Asham Stompers <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>5:15 pm</td> <td>TBA <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>5:45 pm</td> <td>Tsunami Brothers <time class="timetable-length">45 Mins</time></td></tr>
              <tr><td>6:30 pm</td> <td>Booming Tree <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>7:00 pm</td> <td>Kalabante Acrobatics & Music <time class="timetable-length">45 Mins</time></td></tr>
              <tr><td>7:45 pm</td> <td>Bardic Form <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>8:15 pm</td> <td>Chic Gamine <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>9:15 pm</td> <td>Fable Entertainment <time class="timetable-length">30 Mins</time></td></tr>
              <tr><td>9:45 pm</td> <td>Delhi 2 Dublin <time class="timetable-length">75 Mins</time></td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-630ched.jpg" alt="630 CHED"></p>
          <ul class="small-block-grid-4 large-block-grid-2">
            {% comment %}<li><img src="{{ site.uploads }}artist-vibe-tribe.jpg" alt=""> <span class="caption">Vibe Tribe Gypsy Circus</span></li>
            <li><img src="{{ site.uploads }}artist-sugar-swing.jpg" alt=""> <span class="caption">Sugar Swing Dance Club</span></li>
            <li><img src="{{ site.uploads }}artist-namori.jpg" alt=""> <span class="caption">Namori</span></li>
            <li><img src="{{ site.uploads }}artist-shad.jpg" alt=""> <span class="caption">Shad</span></li>{% endcomment %}
          </ul>
          <ul class="small-block-grid-2 large-block-grid-1">
            <li><img src="{{ site.uploads }}acs-pancake-breakfast.jpg" alt=""></li>
          </ul>
        </div>
      </div>

    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">2</span> THE CARROT COMMUNITY ARTS COFFEEHOUSE <small>9351 – 118 AVENUE</small></h1>

      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td>12:00 pm</td> <td>Karla Adolphe <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>1:00 pm</td> <td>Sebastian Barrera <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>2:00 pm</td> <td>Rebecca Lappa <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>3:00 pm</td> <td>Ken Stead <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>4:00 pm</td> <td>I Am Machi <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>5:00 pm</td> <td>Colin Close <time class="timetable-length">60 Mins</time></td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-we.jpg" alt="Williams Engineering Canada"></p>
        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">3</span> DON'S GRAND PIANO GALLERY STAGE <small>9225 – 118 AVENUE Stollery Gallery</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td>12:00 pm</td> <td>TBA <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>1:00 pm</td> <td>Brian Legrow <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>2:00 pm</td> <td>Eric Schneider <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>3:00 pm</td> <td>Wendy Jensen <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>4:00 pm</td> <td>Bryan Legrow <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>5:00 pm</td> <td>Stephanie Urquhart <time class="timetable-length">60 Mins</time></td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-donspiano.jpg" alt="Don's Piano Showroom"> <img src="{{ site.uploads }}logo-nina.jpg" alt="Nina Haggerty Centre for the Arts"></p>
        </div>
      </div>

    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">4</span> BEDOUIN BEATS CARAVAN STAGE <small>11805 – 94 STREET | 12:00 – 6:00 pm</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td class="timetable-hour">12:00 pm - 6:00 pm</td> <td>DANCING & SHOPPING ALL DAY!</td></tr>
              <tr><td colspan="2">Experience sensational world beat dance with groups from across Alberta. Enjoy dance from many cultures, and of many types, fire, poi and hoop dances. Performers include Three Eyes Tribal, Luna Dance Fusion, Les Trois Femmes and Anya, Nomadic Tapestry, Tatiana, and the official debut of Belediyya.</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">
          <p class="sponsor">Sponsored by <img src="{{ site.uploads }}logo-bedouinbeats.jpg" alt="Bedouin Beats"></p>
        </div>
      </div>
    </section>

    <section class="stage">
      <h1 class="beta"><span class="ordinal">5</span> Ben’s Sound Garden <small>11725 – 93 Street | St. Faith’s Church (Behind Nina Haggerty Centre)</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td>1:00 pm</td> <td>Ancient Jammers <time class="timetable-length">45 Mins</time></td></tr>
              <tr><td>2:15 pm</td> <td>Dead Red Pine <time class="timetable-length">60 Mins</time></td></tr>
              <tr><td>3:45 pm</td> <td>C-Jam Big Band <time class="timetable-length">135 Mins</time></td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">

        </div>
      </div>
    </section>


    <section class="stage">
      <h1 class="beta"><span class="ordinal">6</span> ARTS HUB 118 BACK BALCONY <small>11731 – 93 STREET</small></h1>
      <div class="row">
        <div class="columns large-8">
          <table class="timetable">
            <tbody>
              <tr><td>12:15 pm</td> <td>Alley Catz Jazz <time class="timetable-length">45 Mins</time> Upbeat Jazz</td></tr>
              <tr><td>1:30 pm</td> <td>Apocalypse Kow <time class="timetable-length">30 Mins</time> Lively a cappella</td></tr>
              <tr><td>2:15 pm</td> <td>Motonogo <time class="timetable-length">45 Mins</time> Urban Soundscape</td></tr>
              <tr><td>3:30 pm</td> <td>Tsunami Brothers <time class="timetable-length">45 Mins</time> Surf’s Up!</td></tr>
              <tr><td>4:45 pm</td> <td>Noisy Colours <time class="timetable-length">45 Mins</time> Indie Rock</td></tr>
            </tbody>
          </table>
        </div>
        <div class="columns large-4">

        </div>
      </div>
    </section>

  </div>
</section>
