.ordinal {
	background: rgb(242, 233, 51);
	color: #000;
  text-align: center;
  display: block;
  float: left;
  margin-right: 0.5em;
  line-height: $beta;
  width: $beta;
  height: $beta;
	@media #{$small} {
		width: $alpha;
    height: $alpha;
    line-height: $alpha;
	}
}

.ordinal-small {
  width: $em-base;
  height: $em-base;
  line-height: $em-base;
  font-size: $micro;
  margin-top: $micro/2;
}
