$bg-fri: rgb(220,96,76);
$bg-sat: rgb(87,67,130);
$bg-sun: rgb(103,166,64);

.timetable {
  width: 100%;
  margin-bottom: 10px;

  tr > td {
    color: $secondary-color;
  }
  tr:nth-child(2n) > td {
    color: $primary-color;
  }

  td > small {
    display: block;
    font-size: 80%;
  }

  @media #{$small} {
    margin-bottom: 30px;
  }
}

.timetable-hour {
  width: 90px;
}

.timetable-hour-wide {
  width: 180px;
}

.timetable-length {
  white-space: nowrap;
  font-size: 80%;
  &:before {
    content: "{";
  }
  &:after {
    content: "}";
  }
}
