---
layout: base
---

<div class="row">
  <div class="columns large-8">
    {{ content }}
  </div>
  <div class="large-4 columns">
    {% capture key %}{{ page.title | downcase }}{% endcapture %}
    {% case key %}
      {% when 'volunteer' %}
        {% capture sidebar %}{% include side_volunteer.md %}{% endcapture %}
        {{ sidebar | markdownify }}
      {% when 'media' %}
        {% capture sidebar %}{% include side_media.md %}{% endcapture %}
        {{ sidebar | markdownify }}
    {% endcase %}
  </div>
</div>
