---
layout: base
---

<div class="row">
  <div class="column large-8">
    {% if page.headline %}<h1>{{ page.headline }}</h1>{% endif %}
    <div id="map" class="map"></div>
  </div>
  <div class="columns large-4">
    <h2>Venues</h2>
    <ol class="listless">
      <li><span class="ordinal ordinal-small">1</span> 630 CHED Avenue Central Stage</li>
      <li><span class="ordinal ordinal-small">2</span> The Carrot Community Arts Coffeehouse</li>
      <li><span class="ordinal ordinal-small">3</span> The Studio</li>
      <li><span class="ordinal ordinal-small">4</span> Studio Alley (Musical Performances)</li>
      <li><span class="ordinal ordinal-small">5</span> The Salon Stage</li>
      <li><span class="ordinal ordinal-small">6</span> Nina Haggerty Centre for the Arts</li>
      <li><span class="ordinal ordinal-small">7</span> Nina Back Alley Stage</li>
      <li><span class="ordinal ordinal-small">8</span> St. Faith’s Anglican Church</li>
      <li><span class="ordinal ordinal-small">9</span> Don’s Grand Piano Gallery Stage</li>
      <li><span class="ordinal ordinal-small">10</span> Takwakin Village</li>
      <li><span class="ordinal ordinal-small">11</span> Cultural Stage</li>
      <li><span class="ordinal ordinal-small">12</span> Rhythm Speaks Hip Hop Stage</li>
      <li><span class="ordinal ordinal-small">13</span> Bleeding Hearts Gallery</li>
      <li><span class="ordinal ordinal-small">14</span> Paraiso Tropical Balcony</li>
      <li><span class="ordinal ordinal-small">15</span> ReFresh Crosswalk</li>
      <li><span class="ordinal ordinal-small">16</span> Alberta Avenue Community League</li>
      <li><span class="ordinal ordinal-small">17</span> Kaleido Kids World</li>
      <li><span class="ordinal ordinal-small">18</span> Family Beer Gardens</li>
      <li><span class="ordinal ordinal-small">19</span> Bedouin Beats Caravan Stage</li>
      <li><span class="ordinal ordinal-small">20</span> Imaan East African Restaurant</li>
      <li><span class="ordinal ordinal-small">?</span> INFO BOOTH</li>
    </ol>

    <h2>Galleries</h2>
    <ol class="listless">
      <li>The Carrot Community Arts Coffeehouse</li>
      <li>The Studio (Independent)</li>
      <li>Nina Haggerty Centre for the Arts</li>
      <li>Don's Grand Piano Gallery Stage</li>
      <li>Bleeding Hearts (Independent)</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="columns large-8">
    {{ content }}
  </div>
  <div class="columns large-4">
  <!-- download PDF map -->
  </div>
</div>


<script>
  // initialize the map on the "map" div
  var opts = {
    scrollWheelZoom: false,
    center: [-66.93006025862447,-64.16015624999999],
    zoom: 2,
    // center: [-73.07,-76.46],
    // zoom: 3,
    zoomControl: !Modernizr.touch,
    fullscreenControl: true,
    attributionControl: false
  };

  var map = L.map('map', opts);

  // festival map image TMS layer
  L.tileLayer('/maptiles/{z}/{x}/{y}.png', {
      maxZoom: 4,
      minZoom: 1,
      tms: true
  }).addTo(map);

</script>
